@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
    overflow: hidden;
}

body {
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    height: 100vh;
    width: 100vw;
}

#outerBox {
    height: 95vh;
    width: 60vw;
    background: linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -moz-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -webkit-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -o-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4%;
}

#innerBox {
    position: relative;
    top: 5%;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    background-color: #B8B8B8;
    border-radius: 4%;
}

.errorText{
    text-align: center;
    color: red;
    font-family: 'Raleway', 'sans-serif';
    position: relative;
    top: 35%;
}

#plane_container{
    position: relative;
    top: 2%;
    border-radius: 4%;
}