@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
}

body {
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    height: 100vh;
    width: 100vw;
}

#outerBox {
    height: 100vh;
    width: 60vw;
    display: block;
    overflow: auto;
    background: linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -moz-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -webkit-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    background: -o-linear-gradient(#add8e6, #8aacb8, #6B238E, black);
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4%;
}



.errorText{
    text-align: center;
    color: red;
    font-family: 'Raleway', 'sans-serif';
    position: relative;
    top: 35%;
}

#plane_container{
    position: relative;
    top: 2%;
    border-radius: 4%;
}

.card:hover{
    cursor: pointer;
    background-color: #999;
    transition: 0.5s;
}

/* .detailed{
    float: right;
    position: relative;
    bottom: 9vh;
    
} */

@media screen and (max-width:640px) {
    #plane_container{
        font-size: 13px; 
    }
    .listPart{
        font-size: 13px;
    }
    #outerBox{
        width: 60vw;
        height: 100vh;
    }
}